// section_05

footer {
  background-color: #bcb195;
  address {text-align: center;}
  h4 {padding: 16px 0;font-size: 1vw;}
  span {font-size: 80%;
    &.device-pc{display: inline-block;font-size: 100%;}
  }
}

.footer-logo {
  width: 90px;
  margin: 36px auto 24px;
}

.copy {
  font-size: 90%;
  padding-bottom: 12px;
}