// section_01
header {
  position: relative;
  z-index: 1;
  h1 {
    font-family: 'corm_m';
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    color: #fff;
    height: 200px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    img {
      width: 33%;
    }
  }
}

.header-video {
  video {width: 100%;vertical-align: top;}
  &.active {
    video {opacity: 0;}
  }
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 700px;
  transition: 0.5s;
  background-color: rgba(188, 177, 149, 0.36);
  z-index: 50;
  ul.main-nav {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    li {
      a {
        display: block;
        line-height: 3;
        text-decoration: none;
        color: #000;
        padding: 0 0 0 20px;
        font-family: 'corm_b';
      }
    }
  }
  &.close {
    width: 60px;
    right: 30px;
    ul.main-nav {
      left: 0;
      width: 60px;
      li {
        a {
          display: none;
        }
      }
    }
  }
}

.nav-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 40px;
  display: block;
  z-index: 60;
  span {
    position: absolute;
    top: 0;
    right: 0px;
    color: transparent;
    display: block;
    width: 40px;
    height: 40px;
  }
}

.nav-btn__open span:before,.nav-btn__open span:after{
  content: "";
  display: block;
  width: 36px;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.nav-btn__open span:after{
  transform: rotate(-45deg);
}

.nav-btn__open span:before{
  transform: rotate(45deg);
}

.nav-btn__close:before, .nav-btn__close:after {
  position: absolute;
  left: 0;
  right:0;
  content: "";
  width: 60%;
  border-top: 2px solid #000;
  margin:auto;
}

.nav-btn__close span {
  width: 60%;
  height: 2px;
  left: 0;
  bottom:0;
  margin: auto;
  background-color: #000;
}

.nav-btn__close:before {
  top: 8px;
}

.nav-btn__close:after {
  bottom: 8px;
}

// .nav-btn__close:before, .nav-btn__close:after {
//   position: absolute;
//   left: 0;
//   content: "";
//   width: 60%;
//   border-top: 2px solid #000;
// }

.slidein{
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%
  }
  to {
      margin-left: 0%;
      width: 100%;
  }

}


.fadeOut{
  animation-duration: 3s;
  animation-name: fadeout;
  opacity:0;
}

@keyframes fadeout {
	from{
		opacity:1;
	}
	to {
		opacity:0;
	}
}

.nav-btn__open,.nav-btn__close{
  animation-duration: 1s;
  animation-name: active2;
  opacity:1;
}

.active{
  animation-duration: 1s;
  animation-name: active;
  opacity:0;
}

//JS
@keyframes active {
	from{
    opacity:1;
    transform: rotate(0deg);
	}
	to {
    opacity:0;
    transform: rotate(720deg);
	}
}

//CSS
@keyframes active2 {
	from{
    opacity:0;
    transform: rotate(720deg);
	}
	to {
    opacity:1;
    transform: rotate(0deg);;
	}
}

.default_open{
  visibility:hidden;
}

.default_close{
  animation-duration: 1s;
  animation-name: active3;
  opacity:1;
}

@keyframes active3 {
	from{
    transform: rotate(0deg);
	}
	to {
    transform: rotate(0deg);;
	}
}