// section_01
header {
  position: relative;
  z-index: 1;
  h1 {
    font-family: 'corm_m';
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    color: #fff;
    height: 200px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    img {
      width: 33%;
    }
  }
}

.header-video {
  video {width: 100%;vertical-align: top;}
  &.active {
    video {opacity: 0;}
  }
}


nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 700px;
  transition: 0.5s;
  background-color: rgba(188, 177, 149, 0.36);
  z-index: 50;
  ul.main-nav {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    li {
      a {
        display: block;
        line-height: 3;
        text-decoration: none;
        color: #000;
        padding: 0 0 0 20px;
        font-family: 'corm_b';
      }
    }
  }
  &.close {
    width: 60px;
    right: 30px;
    ul.main-nav {
      left: 0;
      width: 60px;
      li {
        a {
          display: none;
        }
      }
    }
  }
}

.nav-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 40px;
  display: block;
  z-index: 60;
  span {
    position: absolute;
    top: 0;
    right: 0px;
    color: transparent;
    display: block;
    width: 40px;
    height: 40px;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 34px;
      height: 2px;
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

