// section_01
header {
  position: relative;
  z-index: 1;
  h1 {
    font-family: 'corm_m';
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    color: #fff;
    height: 200px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    > img {
      width: 33%;
    }
  }
}

.header-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  video {
    position: relative;
    left: 0;
    top: 0;
    min-height: 100%;
    min-height: 100vh;
    min-width: 100%;
    min-width: 100vw;
  }
  &.active {
    video {opacity: 0;}
  }
}

a.header_logo {
  display: block;
  position: absolute;
  left: 3%;
  top: 20px;
  width: 91px;
  z-index: 99999;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  transition: 0.5s;
  background-color: rgba(188, 177, 149, 0.36);
  z-index: 50;
  ul.main-nav {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    li {
      a {
        display: block;
        line-height: 3;
        text-decoration: none;
        color: #000;
        padding: 0 0 0 20px;
        font-family: 'corm_b';
      }
    }
  }
  &.close {
    width: 60px;
    right: 30px;
    ul.main-nav {
      left: 0;
      width: 60px;
      li {
        a {
          display: none;
        }
      }
    }
  }
}

.nav-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 40px;
  display: block;
  z-index: 60;
  span {
    position: absolute;
    top: 0;
    right: 0px;
    color: transparent;
    display: block;
    width: 40px;
    height: 40px;
  }
}

.nav-btn__open span:before,.nav-btn__open span:after{
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.nav-btn__open span:after{
  transform: rotate(-45deg);
}

.nav-btn__open span:before{
  transform: rotate(45deg);
}

.nav-btn__close:before, .nav-btn__close:after, .nav-btn__close span {
  content: "";
  display: block;
  position: absolute;  
  width: 26px;
  height: 1px;
  border-top:1px solid #000;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  margin:auto;
}

.nav-btn__close:before {
  top: 19px;
}

.nav-btn__close:after {
  bottom: 16px;
}

.nav-logo {
  position: fixed;
  right: 50px;
  bottom: 10%;
  width: 20px;
  height: 40px;
}

.fb-logo img {
  margin-bottom: 20px;
}

.menu_logo img {
  width: 13px;
  position: fixed;
  top: 50%;
  right: 50px;
  margin-top: -90px;
}

// .nav-btn__close:before, .nav-btn__close:after {
//   position: absolute;
//   left: 0;
//   content: "";
//   width: 60%;
//   border-top: 2px solid #000;
// }

.slidein{
  animation-duration: 1s;
  animation-name: slidein;
}

.header-icon {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 3px;
  height: 55px;
  border-radius: 4px;
  background: #FFF;
  z-index: 9999;
}

@keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%
  }
  to {
      margin-left: 0%;
      width: 100%;
  }

}


.fadeOut{
  animation-duration: 3s;
  animation-name: fadeout;
  opacity:0;
}

@keyframes fadeout {
	from{
		opacity:1;
	}
	to {
		opacity:0;
	}
}

.nav-btn__open,.nav-btn__close{
  animation-duration: 1s;
  animation-name: active2;
  opacity:1;
}

.nav-btn span.active{
  animation-duration: 1s;
  animation-name: active;
  opacity:0;
}

//JS
@keyframes active {
	0%{
    opacity:1;
    transform: rotate(0deg);
  }
  10% {
    opacity: 0;
  }
	100% {
    opacity:0;
    transform: rotate(360deg);
	}
}

//CSS
@keyframes active2 {
	0%{
    opacity:0;
    transform: rotate(0deg);
  }
  10% {
    opacity: 1;
  }
	100% {
    opacity:1;
    transform: rotate(360deg);;
	}
}

.default_open{
  visibility:hidden;
}

.default_close{
  animation-duration: 1s;
  animation-name: active3;
  opacity:1;
}

@keyframes active3 {
	from{
    transform: rotate(0deg);
	}
	to {
    transform: rotate(0deg);;
	}
}

.move_bitTop{
  animation-duration: 1s;
  animation-name: move_bitTop;
}

@keyframes move_bitTop {
	0%{
    bottom: 0px;
	}
	50% {
    bottom: 40px;
  }
	100% {
    bottom: 0px;
	}
}

.move_bitDown{
  animation-duration: 1s;
  animation-name: move_bitDown;
}

@keyframes move_bitDown {
	0%{
    bottom:0px;
	}
	50% {
    bottom:-40px;
  }
	100% {
    bottom:0px;
	}
}

