@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

* { box-sizing: border-box; }

img { width: 100%; vertical-align: top; }

.device-pc { display: block; }

.device-sp { display: none; }

@font-face { font-family: 'corm_b'; src: url("../font/Cormorant-Bold.woff") format("woff"), url("../font/Cormorant-Bold.ttf") format("truetype"); font-weight: bold; font-style: bold; }

@font-face { font-family: 'corm_m'; src: url("../font/Cormorant-Medium.woff") format("woff"), url("../font/Cormorant-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

/* Slider */
.slick-loading .slick-list { background: #fff url("../image/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face { font-family: 'slick'; font-weight: normal; font-style: normal; src: url("../font/slick.eot"); src: url("../font/slick.eot?#iefix") format("embedded-opentype"), url("../font/slick.woff") format("woff"), url("../font/slick.ttf") format("truetype"), url("../font/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev, .slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: none; background: transparent; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { color: transparent; outline: none; background: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: .25; }

.slick-prev:before, .slick-next:before { font-family: 'slick'; font-size: 20px; line-height: 1; opacity: .75; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -25px; }

[dir='rtl'] .slick-prev { right: -25px; left: auto; }

.slick-prev:before { content: '←'; }

[dir='rtl'] .slick-prev:before { content: '→'; }

.slick-next { right: -25px; }

[dir='rtl'] .slick-next { right: auto; left: -25px; }

.slick-next:before { content: '→'; }

[dir='rtl'] .slick-next:before { content: '←'; }

/* Dots */
.slick-dotted.slick-slider { margin-bottom: 30px; }

.slick-dots { position: absolute; bottom: -25px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; }

.slick-dots li { position: relative; display: inline-block; width: 20px; height: 20px; margin: 0 5px; padding: 0; cursor: pointer; }

.slick-dots li button { font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; }

.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }

.slick-dots li button:before { font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px; height: 20px; content: '•'; text-align: center; opacity: .25; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before { opacity: .75; color: black; }

.slick-slider { position: relative; display: block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

html, body { line-height: 1.6; background-color: #e7eef5; font-family: "Yu Mincho", "YuMincho", serif; letter-spacing: 1px; }

main { background-color: #bcb195; position: relative; z-index: 30; }

header { position: relative; z-index: 1; }

header h1 { font-family: 'corm_m'; width: 100%; text-align: center; margin: auto; font-size: 5vw; color: #fff; height: 200px; line-height: 1.2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.3); height: 100%; }

header h1 img { width: 33%; }

.header-video video { width: 100%; vertical-align: top; }

.header-video.active video { opacity: 0; }

nav { position: fixed; top: 0; right: 0; width: 300px; height: 700px; transition: 0.5s; background-color: rgba(188, 177, 149, 0.36); z-index: 50; }

nav ul.main-nav { height: 300px; width: 300px; position: absolute; top: 0; left: 0; bottom: 0; margin: auto; }

nav ul.main-nav li a { display: block; line-height: 3; text-decoration: none; color: #000; padding: 0 0 0 20px; font-family: 'corm_b'; }

nav.close { width: 60px; right: 30px; }

nav.close ul.main-nav { left: 0; width: 60px; }

nav.close ul.main-nav li a { display: none; }

.nav-btn { position: fixed; width: 40px; height: 40px; top: 10px; right: 40px; display: block; z-index: 60; }

.nav-btn span { position: absolute; top: 0; right: 0px; color: transparent; display: block; width: 40px; height: 40px; }

.nav-btn__open span:before, .nav-btn__open span:after { content: ""; display: block; width: 36px; height: 2px; background-color: #000; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; }

.nav-btn__open span:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.nav-btn__open span:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.nav-btn__close:before, .nav-btn__close:after { position: absolute; left: 0; right: 0; content: ""; width: 60%; border-top: 2px solid #000; margin: auto; }

.nav-btn__close span { width: 60%; height: 2px; left: 0; bottom: 0; margin: auto; background-color: #000; }

.nav-btn__close:before { top: 8px; }

.nav-btn__close:after { bottom: 8px; }

.slidein { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-name: slidein; animation-name: slidein; }

@-webkit-keyframes slidein { from { margin-left: 100%;
    width: 300%; }
  to { margin-left: 0%;
    width: 100%; } }

@keyframes slidein { from { margin-left: 100%;
    width: 300%; }
  to { margin-left: 0%;
    width: 100%; } }

.fadeOut { -webkit-animation-duration: 3s; animation-duration: 3s; -webkit-animation-name: fadeout; animation-name: fadeout; opacity: 0; }

@-webkit-keyframes fadeout { from { opacity: 1; }
  to { opacity: 0; } }

@keyframes fadeout { from { opacity: 1; }
  to { opacity: 0; } }

.nav-btn__open, .nav-btn__close { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-name: active2; animation-name: active2; opacity: 1; }

.active { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-name: active; animation-name: active; opacity: 0; }

@-webkit-keyframes active { from { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to { opacity: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@keyframes active { from { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to { opacity: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); } }

@-webkit-keyframes active2 { from { opacity: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); }
  to { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes active2 { from { opacity: 0;
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg); }
  to { opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.default_open { visibility: hidden; }

.default_close { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-name: active3; animation-name: active3; opacity: 1; }

@-webkit-keyframes active3 { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

@keyframes active3 { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }

.carousel li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; }

.carousel li a.pop { width: 50%; position: relative; }

.sec_02__message { padding: 36px 0; text-align: center; }

.sec_02__message span { font-size: 14px; display: block; margin-bottom: 24px; }

.sec_02__message a { color: #fff; font-family: 'corm_b'; font-size: 2vw; letter-spacing: 2px; text-decoration: none; }

.pop p { position: absolute; top: 0; left: 8%; color: #FFF; bottom: 0; margin: auto; font-size: 2vw; letter-spacing: 2px; height: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.close_btn:hover { cursor: pointer; }

.popupbg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.65); visibility: hidden; z-index: 9999; }

.popup_wrapper { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; z-index: 0; text-align: center; width: 90%; height: 550px; visibility: hidden; }

.close_btn { position: absolute; top: 0; left: 0; right: 0; margin: auto; background: #3e3a39; width: calc(10vmin - 60px); height: calc(10vmin - 60px); }

.close_btn:before, .close_btn:after { width: 20px; height: 1px; background: #FFF; content: ""; display: block; position: absolute; top: 0; right: 0; left: 0; bottom: 0; margin: auto; }

.close_btn:before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.close_btn:after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

.slick-prev:before, .slick-next:before { font-family: 'slick'; font-size: 30px; line-height: 1; opacity: .45; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.slick-prev { left: -10px; z-index: 9999; }

.slick-next { right: -10px; z-index: 9999; }

.slick-dots li.slick-active button:before { color: #FFF; }

.slick-dots li button:before { font-family: 'slick'; font-size: 6px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px; height: 20px; content: '•'; text-align: center; color: #a9a9a9; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

ul#instafeed { width: 98%; height: 600px; margin: 20px auto; overflow: hidden; }

ul#instafeed li { width: 100%; position: relative; top: -25%; left: 0; }

ul#instafeed a { display: block; position: relative; }

ul#instafeed a:before, ul#instafeed a:after { content: ""; display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; opacity: 0; }

ul#instafeed a:before { width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.3); }

ul#instafeed a:after { width: 200px; height: 100px; background-image: url(../image/Instagram_logo.png); background-repeat: no-repeat; background-size: 200px; background-position: 50% 50%; }

ul#instafeed a:hover:before, ul#instafeed a:hover:after { opacity: 1; transition: 0.5s; }

section.sec_04 iframe { width: 100% !important; }

footer { background-color: #bcb195; }

footer address { text-align: center; }

footer h4 { padding: 16px 0; font-size: 1vw; }

footer span { font-size: 80%; }

footer span.device-pc { display: inline-block; font-size: 100%; }

.footer-logo { width: 90px; margin: 36px auto 24px; }

.copy { font-size: 90%; padding-bottom: 12px; }
